/* START: Utility classes for components */
.pointer {
  cursor: pointer;
}

.clickable {
  cursor: pointer;

  &:hover {
    filter: brightness(120%);
  }
}

.scrollbar {
  scrollbar-width: thin;
  /* scrollbar-color: var(--input-border-color) var(--input-background-color); */
  /* scrollbar-gutter: stable; or stable both-edges */

  &::-webkit-scrollbar {
    width: 0.125em !important;
  }
}

.disabled {
  pointer-events: none !important;
  /* opacity: 0.7 !important; */
  filter: brightness(60%);
}

/* .hide {
  opacity: 0;
}

.show {
  opacity: 100 !important;
} */

.hover-light:hover {
  filter: brightness(120%);
}

/* during drag reduce selection. It used in the split. */
.no-select {
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

/* END: Utility classes for components */
