/* START: DROPDOWN COMPONENT */
.uiframe-dropdown {
  .dropdown-title {
    font-size: var(--bs-body-font-size);
    background-color: var(--bs-body-bg);
    color: var(--bs-secondary-color);
  }

  .dropdown-menu {
    padding: 0 !important;

    .dropdown-item {
      transition: opacity 0.25s ease-in-out;
      -moz-transition: opacity 0.25s ease-in-out;
      -webkit-transition: opacity 0.25s ease-in-out;

      .hide {
        opacity: 0;
        transform: translateY(-10px);
      }

      .show {
        opacity: 1 !important;
        transform: translateY(0) !important;
      }
    }
  }
}

/* END: DROPDOWN COMPONENT */