/* START: SPLIT COMPONENT */

/* full-height container */
.uiframe-split-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;

  .split-pane {
    min-height: 130px;
    /* minimum height to avoid collapsing */
  }

  /* visual divider / drag handle */
  .split-divider {
    height: 1px;
    background-color: var(--bs-secondary-color) !important;
    z-index: 10000;

    .split-divider-icon {
      margin-top: -22px;
      cursor: row-resize;
      filter: brightness(0.5);
    }
  }
}

/* END: SPLIT COMPONENT */
