/* START: TABLE COMPONENT */
.uiframe-table {
  .table-col-wrapper {
    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .json-nested-object {
    max-width: 300px;
    overflow: hidden;
  }

  tbody tr:hover {
    cursor: pointer;
  }

  .table-identifier-link {
    text-decoration: none;

    &:hover {
      filter: brightness(120%);
    }
  }
}

/* END: TABLE COMPONENT */